#inputDiv {	
	margin-bottom: 4%;
}

#inputForm {
	padding: 4%;
}

.isHidden {
	display: none;
}

.buttonlist>div {
	float: left;
	padding-right: 6%;
}

.buttonlist>div:last-child {
	float: none;
	padding-right: 0px;
}

.jumbotron{
	padding-top: 0px;
}

@media screen and (min-width:720px) {
	#inputDiv {
		width: 70%;
		box-shadow: 10px 10px 5px grey;
	}
}